
*{
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    background: #f1f1f1 url('./bg.png') center center no-repeat;
    background-size: cover;
}
kbd{
    border:solid 1px red;
    width: 4.5rem;
    height:3.5rem;
    /* display: inline-block; */
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;
}
.wrapper>div:nth-child(2){
    margin-left: 10px;
}
.wrapper>div:nth-child(3){
    margin-left:20px;
}
.wrapper div,
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrapper{
    display: inline-block;
    background: rgba(255,255,255,.2);
}
 .wrapper kbd button{
     background-color: transparent;
     border:0;
     position: absolute;
     bottom:0;
     right: 0;
     display: none;
    font-size: 16px;
    color: #c5c5c5;
    outline:none;

 }
 kbd:hover button{
     display: inline-block;
 }

.key{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(92,92,92,1) 0%, rgba(17,17,17,1) 100%);
    /* width: 60px;
    height: 50px; */
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
    color: #c5c5c5;
    border: solid 1px #373737;
    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
    margin-right: 1.5rem;
    font-family: 'arial';
    position: relative;
}
.keyContainer{
    margin: 1.5rem;
    margin-bottom: 2.5rem;
}
.key img{
    width: 16px;
    height: 16px;

}
.key span,
.key img{
    position: absolute;
}
.key span{
   top:2px;
   left: 4px; 
}
.key img{
    bottom:2px;
    left: 4px; 
 }