body{
background: #f1f1f1;
}
*{
    padding: 0;
    margin: 0;
}
a{

    text-decoration: none;
}
.logo span{

    font-family: "arial";
}
.box{
width: 100%;
position: fixed;
}
.topNavBar{
    padding: 10px;
}
.topNavBar .logo{
float: left;
padding: 20px;
color: #a09b98;
font-size: 30px;
font-weight: bold;
}
.topNavBar .logo span{
color:#e8676b;
font-size: 40px;
}

.topNavBar .clearfix li{
float: left;
list-style: none;
margin: 20px;
padding:16px 0;
}
/* .clearfix::after,
.topNavBar::after{
    content: "";
    display: block;
    clear: both;
} */
.clearfix{
    overflow: hidden;
}

.topNavBar .clearfix li a{
    color: #a09b98;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0;
}

.topNavBar .clearfix li a:hover{
    border-bottom: solid 3px rgb(221, 0, 0);

}

/* banner */
.banner{
   
    height: 515px;
    background-image: url("./rs-cover.jpg");
    background-position: center center;
    background-size: cover;
}
.mask{
    background:rgba(0,0,0,0.8);
    height: 515px;
    
}
.mask .text{
    text-align: center;
    
}

/* 主内容 */

.usercard{
    max-width: 940px;
    background: #fff;
    margin: auto;
    margin-top: -400px;
    box-shadow: 0px 3px 10px #80808078;
}
.profile{
    padding: 50px;
}
.profile .text .welBox{
    padding: 5px;
    background: #e8676b;
    color: white;
    display: inline-block;
    position: relative;
    margin-bottom: 26px;
}
.profile .text .triangle{
    display: block;
    width: 0px;
    height: 0px;
    border: solid 10px transparent;
    border-left-color: #e8676b;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 4px;
}
.profile .text,
.profile img{
    float: left;
}
.profile img{
    margin-right: 65px;
}
.profile .text{
    width: 470px;
}
hr{
    margin:20px 0;
    width: 470px;
    border: 1px solid #DEDEDE;
}

.usercard dl dt,
.usercard dl dd{
    float: left;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
    padding: 5px 0;
}
.usercard dl dd{
    width: 70%;
    color: #999;
    padding: 5px 0;
}
.media{
    text-align: center;
    background: #e8676b;
    padding: 5px;
}
.imgBox svg{
    width: 30px;
    height: 30px;
    vertical-align: top;
}
.media a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    border-radius: 50%;
    padding: 5px 0;
    margin:16px;
}
.media a:hover{
background:rgba(0,0,0,0.1);

}
/* 下载 */
.button{
    font-size:20px;
    border:solid 1px rgb(212 212 212 / 60%);;
    padding: 21px 55px;
    display: inline-block;
    border-radius: 4px;
    color: #999;
    transition: box-shadow 1s;
}
.button:hover{
    box-shadow: 0 2px 10px #999;
}
.download{
    text-align: center;
    margin-top: 40px;
}
/* 自我介绍 */

.selfIntroduction{
    max-width: 940px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-family: "楷体";
    font-size: 20px;
    line-height: 1.8;
}

/* 技能 */

section.skills,
section.portfoli{
    margin: auto;
    max-width: 940px;
}
section .title{
    text-align: center;
    font-size: 34px;
    line-height: 1.3;
    margin-top: 36px;
}
section .skillContainer,
section .portfoliContainer{
    background:#fff;
    margin-top: 40px;
}

ol.skillContainer,
ol.portfoliContainer{
    padding: 50px;
}
.skillContainer li{
    list-style: none;
    display: inline-block;
    width: 46%;
    margin-bottom: 40px;
    float: left;
}
section .progressBar{
    background: #f5b1b3;
    border-radius: 2px;
    margin-top: 10px;
}

section .progressBar .progress{
    background: #e6686a;
    width: 50%;
    height: 5px;

}
.skillContainer li:nth-child(even){
    float: right;
}

/* 作品集 */
section .portfoliContainer li{
    float: left;
}
.portfoliContainer li{
    list-style-type: none;
    margin-left: 40px;
}
.portfoliContainer li:first-child{
    margin-left: 0;
}
ol.portfoliContainer{
    display: inline-block;
    vertical-align: top;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
.portfoli nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.portfoli nav .bar{
    background: #fff;
    height: 5px;
    margin: 10px 0 100px;
    border-radius: 2px;
}
section.portfoli{
    text-align: center;
}
.portfoli nav .bar .barinner{
    height: 100%;
    border-radius: 2px;
    width: 40px;
    background: #e6686a;
}
.portfoli nav .state-2 .barinner{
    width: 100px;
    margin-left: 50px;
}
.portfoli nav .state-3 .barinner{
    width: 40px;
    margin-left: 200px;
}
/* jobs */
section.portfoli .jobs{
    position: relative;
    margin-bottom: 100px;
    height: 728px;
}
section.portfoli .jobs .imgBox1{
    position: absolute;
    top: 0;
    left: 0;
}
section.portfoli .jobs .imgBox2{
    position: absolute;
    top: 0;
    left: 490px;
}
section.portfoli .jobs .imgBox2:nth-of-type(2){
    position: absolute;
    top: 383px;
    left: 490px;
}